<!-- blog_list.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for post in blogs %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a href="{% url 'blog_detail' post.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
