<!-- blog_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-6 pull-left">
                {% if previous_blog %}
                <a href="{% url 'blog_detail' category.slug previous_blog.slug %}">Previous: {{ previous_blog.title }}</a>
                {% endif %}
            </div>
            <div class="col-md-6 pull-right">
                {% if next_blog %}
                <a class="pull-right" href="{% url 'blog_detail' category.slug next_blog.slug %}">Next: {{ next_blog.title }}</a>
            {% endif %}
            </div>
        </div>
            <div class="col-md-8">
           
            <h1>{{ blog.categories.title }} | {{ blog.title }}</h1>
			{% if blog.featured_image and blog.featured_image.url %}
            <img src="{{ blog.featured_image.url }}" class="img-fluid" alt="{{ blog.title }}">
			{% endif %}
            <p>{{ blog.content| safe }}</p>
           
            </div>
        <div class="row">
                <div class="col-md-6 pull-left">
                    {% if previous_blog %}
                    <a href="{% url 'blog_detail' category.slug previous_blog.slug %}">Previous: {{ previous_blog.title }}</a>
                    {% endif %}
                </div>
                <div class="col-md-6 pull-right">
                    {% if next_blog %}
                    <a class="pull-right" href="{% url 'blog_detail' category.slug next_blog.slug %}">Next: {{ next_blog.title }}</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Sidebar content (e.g., related posts, categories, etc.) -->
        </div>
    </div>
</div>
{% endblock %}