<!-- templates/chat/group_chat_room.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div id="current-user" data-user-id="{{ request.user.username }}"></div>
    <h2>Chat Room</h2>
    
    <div id="chat-log" class="border p-3" style="height: 300px; overflow-y: scroll;" data-room-id="{{ room.id }}">
        {% for message in chat_messages %}
            <div class="{% if message.user == request.user %}text-right{% else %}text-left{% endif %}">
                <p class="chat-message {% if message.user == request.user %}chat-message-right{% else %}chat-message-left{% endif %}">
                    {% if message.user == request.user %}
                    {{ message.content }}</strong>
                    {% else %}
                    <a href="{% url 'profile' message.user.username %}"><strong>{{ message.user.username }}</strong></a>: {{ message.content }}
                    {% endif %}
                    
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <input id="chat-message-input" type="text" class="form-control" placeholder="Type your message here...">
        <button id="chat-message-submit" class="btn btn-primary mt-2">Send</button>
    </div>
</div>
{% endblock %}

{% block footer-scripts %}
<script src="{% static 'chat/js/chat-bundle.js' %}"></script>
{% endblock %}
