{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container mt-5">
        <h2>Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
                {% for form_field in profile_form %}
                    <p>
                        {% if form_field.name == 'image' %}
                            <div class="form-group">
                                <!-- Render image input field manually -->
                                
                                {% if user.profile.image %}
                                    <!-- Display currently uploaded image -->
                                    <img src="{{ user.profile.image.url }}" class="img-thumbnail mt-2" style="max-height: 200px;">
                                {% else %}
                                    <!-- If no image is uploaded, show a default image -->
                                    <img src="{% static 'images/default_profile.jpg' %}" class="img-thumbnail mt-2" style="max-height: 200px;">
                                {% endif %}
                            </div>
                            <label for="id_image">Profile Image</label>
                            <input type="file" name="image" class="form-control" id="id_image">
                        {% else %}

                            {{ form_field.label_tag }}
                            {{ form_field }}
                            {{ form_field.errors }}
                        
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Update Profile</button>
        </form>
    </div>
</section>
{% endblock %}
