<!-- templates/account/profile.html -->
{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    {% if user.profile.image and user.profile.image.url %}
    {% if user.profile.image.url|file_exists %}
    <!-- Display currently uploaded image -->
    <img src="{{ user.profile.image.url }}" class="img-thumbnail mt-2" style="max-height: 200px;">
    {% endif %}
    {% endif %}
    <h2>{{ user.username }}'s Profile</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'create_one_to_one_chat' user.username %}" class="btn btn-primary mt-3">Start Chat</a>
    {% endif %}
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Date of Birth:</strong> {{ user.profile.date_of_birth }}</p>
    <p><strong>Gender:</strong> {{ user.profile.gender }}</p>
    <p><strong>Address:</strong> {{ user.profile.address }}</p>
    <p><strong>Country:</strong> {{ user.profile.country }}</p>
    <p><strong>State:</strong> {{ user.profile.state }}</p>
    <p><strong>Zip Code:</strong> {{ user.profile.zip_code }}</p>
</div>
{% endblock %}