{% extends "base.html" %}
{% load static %}

{% block page-title %}Real time graph update{% endblock  %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
        <div class="col-10 mx-auto mt-5">
          <h3>Number of Sold <span id="sold"></span></h3>
          <canvas id="myChart"></canvas>
        </div>
    </div>
  </div>
</section>
{% endblock  %}
{% block footer-scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'core/js/bundle.js' %}"></script>
{% endblock  %}